body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

input,select,button,textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  position: relative;
  width: 600px;
  margin-top: auto;
  margin-bottom: 100px;
}

.input {
  width: 100%;
  height: 100%;
  max-height: 200px;
  word-break: break-word;
  min-height: 36px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 13px;
  outline: 0;
  font-size: 15px;
  padding-right: 50px;
}

.scroll {
  overflow-y: scroll;
}

.btnsBlock {
  position: absolute;
  right: 18px;
  bottom: 0;
}
.button {
  height: 41px;
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  outline: 0;
}

.icon {
  display: block;
  height: 22px;
  width: 22px;
  fill: orange;
  transition: fill 0.2s ease-in;
}

.icon:hover {
  fill :orangered;
}

.pickerWrapper {
  position: relative;
}


.emoji-img {
  height: 16px;
  width: 16px;
  vertical-align: -1px;
  display: inline-flex;
  margin-right: 1px;
}

/* для emoji - пикера */
.content-wrapper::before {
  content: "" !important;
}
